<div class="container mt-200">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Price</span>
        </div>
        <input class="form-control" [(ngModel)]="product.price" />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        <input class="form-control" [(ngModel)]="product.name" />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Description</span>
        </div>
        <textarea class="form-control" [(ngModel)]="product.description"></textarea>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="availability" [(ngModel)]="product.availability">
        <label class="custom-control-label" for="availability">Available</label>
      </div>
      <div class="float-right">
        <button class="btn btn-primary" (click)="changeProduct()">Change</button>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
