<div>
  {{product.name}} {{product.price}}
</div>
<div>
  {{product?.description}}
</div>
<button [disabled]="clicked || !product.availability" (click)="addToCart(product.id)"
        *ngIf="!shareDataService.isAdmin &&
        shareDataService.userName !== undefined &&
        shareDataService.userName !== null">
  Add to cart
  <div *ngIf="product.availability" style="color: green;">
    Available
  </div>
  <div *ngIf="!product.availability" style="color: red;">
    Not available
  </div>
</button>
