<div class="container mt-200">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div>
        <div class="text-center mb-10">
          <button class="btn btn-primary" routerLink="view-purchases">View purchases</button>
        </div>
        <div class="text-center mb-10">
          <button class="btn btn-warning" routerLink="change-login">Change login</button>
        </div>
        <div class="text-center mb-10">
          <button class="btn btn-warning" routerLink="change-password">Change password</button>
        </div>
        <div class="text-center">
          <button class="btn btn-danger" (click)="signOut()">Sign out</button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
