<div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Old password</span>
    </div>
    <input class="form-control" [(ngModel)]="oldPassword" />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">New password</span>
    </div>
    <input class="form-control" [(ngModel)]="user.password" />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Re-enter new password</span>
    </div>
    <input class="form-control" [(ngModel)]="newPassword" />
  </div>

  <div>
    <button class="btn btn-primary" (click)="changePassword()">Change Password</button>
  </div>
</div>
