<div class="container mt-200">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div>
        <div *ngIf="notRepeatRight" class="alert alert-danger">
          repeat your password right
        </div>
        <div *ngIf="theSamePassword" class="alert alert-danger">
          your new password the same as old
        </div>
        <div *ngIf="incorrectOld" class="alert alert-danger">
          your old password is incorrect
        </div>
        <div *ngIf="succesfullyChanged" class="alert alert-success">
          password succesfully changed
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Old password</span>
          </div>
          <input class="form-control" #oldPass="ngModel" type="password" [(ngModel)]="oldPassword" required minlength="4" />
        </div>
        <div *ngIf="oldPass.invalid && (oldPass.dirty || oldPass.touched)" class="alert alert-danger">
          <div *ngIf="oldPass.errors.required">
            enter old password
          </div>
          <div *ngIf="oldPass.errors.minlength">
            at least 4 symbols
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">New password</span>
          </div>
          <input class="form-control" #newPass="ngModel" type="password" [(ngModel)]="user.password" required minlength="4" />
        </div>
        <div *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)" class="alert alert-danger">
          <div *ngIf="newPass.errors.required">
            enter new password
          </div>
          <div *ngIf="newPass.errors.minlength">
            at least 4 symbols
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Re-enter new pass</span>
          </div>
          <input class="form-control" #repeatPass="ngModel" type="password" [(ngModel)]="newPassword" required minlength="4" />
        </div>
        <div class="text-center">
          <button class="btn btn-primary" [disabled]="oldPass.invalid || newPass.invalid || repeatPass.invalid" (click)="changePassword()">
            Change Password
          </button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
