<div class="container mt-200">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Old password</span>
          </div>
          <input class="form-control" type="password" [(ngModel)]="oldPassword" />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">New password</span>
          </div>
          <input class="form-control" type="password" [(ngModel)]="user.password" />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Re-enter new pass</span>
          </div>
          <input class="form-control" type="password" [(ngModel)]="newPassword" />
        </div>

        <div class="text-center">
          <button class="btn btn-primary" (click)="changePassword()">Change Password</button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
