<div class="container" *ngIf="productsExist">
  <div class="row">
    <div class="col-2">
      <div class="size-16 bold mb-10">
        Category type
      </div>
      <div class="custom-control custom-checkbox">
        <input (click)="checkMusic()" type="checkbox" [checked]="isMusic" class="custom-control-input" id="music">
        <label class="custom-control-label" for="music">Music</label>
      </div>
      <div class="custom-control custom-checkbox mb-10">
        <input (click)="checkVideo()" type="checkbox" [checked]="isVideo" class="custom-control-input" id="video">
        <label class="custom-control-label" for="video">Video</label>
      </div>
      <div class="size-16 bold mb-10">
        Categories
      </div>
      <div class="mb-10">
        <div *ngFor="let category of categories; let i = index">
          <div class="custom-control custom-checkbox">
            <input (click)="updateProductPage(i)" type="checkbox" [checked]="categoriesChecked[i]" class="custom-control-input" id="{{category.name}}">
            <label class="custom-control-label" for="{{category.name}}">{{category.name}}</label>
          </div>
        </div>
      </div>
      <div class="size-16 bold mb-10">
        Price
      </div>
      <div class="input-group mb-3">
        <input class="form-control size-12" placeholder="from" [(ngModel)]="fromPrice" />
        <input class="form-control size-12" placeholder="to" [(ngModel)]="toPrice" />
        <button class="btn btn-primary ml-10 size-12" (click)="updateProductPage()">OK</button>
      </div>
    </div>
    <div class="col">
        <div class="row">
          <div *ngFor="let product of products">
            <div class="col mb-10">
              <div class="card" style="width: 16rem;">
                <!--<img src="..." class="card-img-top">-->
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p *ngIf="product?.description === null">No description</p>
                  <p class="card-text">{{product?.description}}</p>
                  <button class="btn btn-primary" routerLink="detailed-info" (click)="viewProduct(product.id)">More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="text-center alert alert-secondary mt-200" *ngIf="!productsExist">
  There is no products to show
</div>
