<div class="container mt-200">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div>
        <div *ngIf="succesfullyChanged" class="alert alert-success">
          succesfully changed
        </div>
        <div *ngIf="theSameName" class="alert alert-danger">
          your new name the same as old
        </div>
        <div *ngIf="notMatch" class="alert alert-danger">
          password doesn't match
        </div>
        <div *ngIf="userExists" class="alert alert-danger">
          user with this login already exists
        </div>
        <div *ngIf="notRepeatRight" class="alert alert-danger">
          repeat your password right
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">New login</span>
          </div>
          <input class="form-control" #login="ngModel" [(ngModel)]="user.login" required minlength="3" />
        </div>
        <div *ngIf="login.invalid && (login.dirty || login.touched)" class="alert alert-danger">
          <div *ngIf="login.errors.required">
            enter login
          </div>
          <div *ngIf="login.errors.minlength">
            at least 3 symbols
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Password</span>
          </div>
          <input class="form-control" #pass="ngModel" type="password" [(ngModel)]="user.password" required minlength="4" />
        </div>
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
          <div *ngIf="pass.errors.required">
            enter login
          </div>
          <div *ngIf="pass.errors.minlength">
            at least 3 symbols
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Re-enter pass</span>
          </div>
          <input class="form-control" #repeatPass="ngModel" type="password" [(ngModel)]="password" required minlength="4" />
        </div>
        <div class="text-center">
          <button class="btn btn-primary" [disabled]="login.invalid || pass.invalid || repeatPass.invalid" (click)="changeLogin()">
            Change Login
          </button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
