<table *ngIf="purchasesExist" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>
        <button class="btn btn-danger" (click)="delete(i, product.id)">Remove Purchase</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center alert alert-secondary" *ngIf="!purchasesExist">
  You haven't bought anything yet
</div>
