<button (click)="showAddProduct()">Add Product</button>
<div *ngIf="showAdd">
  <div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Price</span>
      </div>
      <input class="form-control" [(ngModel)]="product.price" />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
      </div>
      <input class="form-control" [(ngModel)]="product.name" />
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
      </div>
      <textarea class="form-control" [(ngModel)]="product.description"></textarea>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="product.availability">
      <label class="form-check-label">
        Available
      </label>
    </div>

    <div>
      <label>Select Category</label>
      <select [(ngModel)]="type" (change)="changeCategory()">
        <option value="Music">Music</option>
        <option value="Video">Video</option>
      </select>
    </div>

    <select multiple [(ngModel)]="selectedCategories" (change)="categoriesSelected()">
      <option *ngFor="let category of categories">{{category.name}}</option>
    </select>

    <div>
      <button class="btn btn-primary" (click)="addProduct()">Add</button>
    </div>
  </div>
</div>

<div *ngFor="let product of products">
  {{product.id}} {{product.name}}
  <button class="btn btn-primary" routerLink="change-product" (click)="changeProduct(product.id)">Change</button>
  <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
</div>
