<div>
  <div>
    <button class="btn btn-primary" routerLink="view-categories">View Categories</button>
  </div>
  <div>
    <button class="btn btn-primary" routerLink="view-products">View Products</button>
  </div>
  <div>
    <button class="btn btn-primary" routerLink="view-users">View Users</button>
  </div>
  <div>
    <button class="btn btn-warning" routerLink="statistics">Statistics</button>
  </div>
  <div>
    <button class="btn btn-danger" (click)="signOut()">Sign Out</button>
  </div>
</div>
