<div class="container mt-200">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div>
        <div class="text-center mb-10">
          <button class="btn btn-primary" routerLink="view-categories">Categories</button>
        </div>
        <div class="text-center mb-10">
          <button class="btn btn-primary" routerLink="view-products">Products</button>
        </div>
        <div class="text-center mb-10">
          <button class="btn btn-primary" routerLink="view-users">Users</button>
        </div>
        <div class="text-center mb-10">
          <button class="btn btn-warning" routerLink="statistics">Statistics</button>
        </div>
        <div class="text-center">
          <button class="btn btn-danger" (click)="signOut()">Sign out</button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
