<!--end with this shit!-->
<div>
  <div>
    Category
  </div>
  <div>
    <button routerLink="add-category">Create</button>
  </div>
  <div>
    <button routerLink="update-category">Change</button>
  </div>
  <div>
    <button routerLink="delete-category">Delete</button>
  </div>
  <div>
    Product
  </div>
  <div>
    <button routerLink="add-product">Add</button>
  </div>
  <div>
    <button routerLink="delete-product">Remove</button>
  </div>
  <br />
  <div>
    <button routerLink="view-users">View Users</button>
  </div>
  <div>
    <button routerLink="statistics">Statistics</button>
  </div>
  <div>
    <button (click)="signOut()">Sign Out</button>
  </div>
</div>
