<button (click)="showAddCategory()">Add Category</button>
<div *ngIf="showAdd">
  <div>
    <input placeholder="Name" [(ngModel)]="category.name" />
  </div>
  <div>
    <label>Select Category Type</label>
    <select [(ngModel)]="category.type">
      <option value="Music">Music</option>
      <option value="Video">Video</option>
    </select>
  </div>
  <div>
    <button (click)="addCategory()"><b>Add</b></button>
  </div>
</div>
<div *ngFor="let category of categories">
  {{category.id}} {{category.name}}
  <button><b>Change</b></button>
  <button><b>Delete</b></button>
</div>
