<button class="btn btn-secondary" (click)="showAddCategory()">Add Category</button>
<div *ngIf="showAdd">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Name</span>
    </div>
    <input class="form-control" [(ngModel)]="category.name" />
  </div>

  <div>
    <label>Select Category Type</label>
    <select class="form-control" [(ngModel)]="category.type">
      <option value="Music">Music</option>
      <option value="Video">Video</option>
    </select>
  </div>
  <div>
    <button class="btn btn-primary" (click)="addCategory()">Add</button>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <th scope="row">{{category.id}}</th>
      <td>{{category.name}}</td>
      <td>
        <button class="btn btn-primary" routerLink="change-category" (click)="changeCategory(category.id)">Change</button>
        <button class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
